version: '2'

services:
  db:
    restart: always
    image: postgres:latest
    ports:
      - "{{ db_ports }}"
    volumes:
      - "pgdata:{{ db_mountpath }}"
 

  web:
    restart: always
    image: {{ registry_url }}
    expose:
      - "{{ web_expose_port }}"
    links:
      - db:db
    volumes:
      - "web-django:{{ web_django_mountpath }}"
      - "web-static:{{ web_static_mountpath }}"
    environment:
      - DEBUG=true
      - POSTGRES_PASSWORD=postgrespass
      - POSTGRES_USER=postgres
      - POSTGRES_DB=less_1_db
      - POSTGRES_HOST_AUTH_METHOD=trust
    CMD: ["python", "manage.py", "migrate"]
    command: "{{ web_start_command }}"

    depends_on:
      - db
  nginx:
    restart: always
    build: /project/django/config/nginx/
    ports:
      - "{{ nginx_ports }}"
    volumes:
      - web-static:/static
    links:
      - web:web

volumes:
  web-django:
  web-static:
  pgdata:
